<table border="1" cellspacing="5" cellpadding="5" class="table">
    <tr>
    <td  class="all">
        Account Name 
    </td>
    <td  class="all">
       Account User List 
    </td>
    <td  class="all">
        <%= link_to 'Add User', new_invite_path , class: 'btn primary' %>

    </td>
    </tr>
    <tr>
        <td  class="all">
            <%= Account.where(owner_id: current_user.id).first.name%> 
        </td>
        <td colspan='2' align="center"  class="all">
           <%=current_user.try(:name)%> 
        </td>
    </tr>   
</table>