<div class="card bg-light mt-3 ml-3" style="max-width: 20rem;">
  <div class="card-header">Accounts</div>
    <div class="card-body">
      <p class="card-text">
        <% @accounts.each do |account|%>
          <a href="<%= account_path(account) %>">
          <h4><%= account.name %></h4>
          </a>
          <p>owner: (<%=current_user.email%>)</p>
        <%end%>
      </p>
    </div>
</div>